@{
    ViewData["Title"] = "About";
}

<div class="container">
    <br><br>
    <div class="text-center position-relative custom-banner">
        <div class="overlay-text">
            <h1 style="font-weight: 500; font-size: 5rem">
                <b>만들고 싶은 것을<br>만들기 위해</b>
            </h1>
        </div>
        <img src="~/images/block.png" alt="block" class="banner-image">

        <div class="logo-container">
            <img id="logo" src="~/images/banner-1.png" alt="배너 이미지" class="background-image">
        </div>
        <div class="logo-container2">
            <img id="logo" src="~/images/banner-2.png" alt="배너 이미지" class="background-image2">
        </div>
    </div>
    <br><br><br>
    <br><br><br>
    <h1>
        <b>스튜디오 소개</b>
    </h1>
    <div style="max-width: 600px; margin-left: auto; margin-right: auto;">
        <h5>
            최고의 결과물은 창작자의 진심으로부터 나온다고 믿습니다.
            <br><br>
            게임의 열렬한 팬으로서 진심으로 좋아하는 것을 만들고자 하며 단기적인 수익 추구가 아닌 애정이 담긴 지속 가능한 제품을 만들기 위해 노력합니다.
            <br><br>
            창작자는 직접 프로젝트의 팬이 되어야 한다고 생각합니다.<br>부끄러운 작업은 하지 않는 것이 원칙이며 당당하게 모두에게 자랑할 수 있는 상품을 만드는 것을 목표로 합니다.
        </h5>
    </div>
    <br><br><br><br><br>

    <h1>
        <b>성과</b>
    </h1>
    <div class="text-center">
        <h2>
            <b>다운로드 2,000,000+</b>
        </h2>
        <br>
        <h2>
            <b>사용자 리뷰 138,000+</b>
        </h2>
        <br>
        <h2>
            <b>별점 평균 4.7+</b>
        </h2>
    </div>

    <br><br><br><br><br>

    <h1>
        <b>출시한 상품들</b>
    </h1>
    <div style="max-width: 600px; margin-left: auto; margin-right: auto;">
        <h5>
            <a href="https://play.google.com/store/apps/dev?id=4693889115110717231" target="_blank">
                <span style="color:#272727;">Google Play</span>
            </a>
            <br>
            <br>
            <a href="https://apps.apple.com/kr/developer/hyeonjin-yoon/id1544616296" target="_blank">
                <span style="color:#272727;">App store</span>
            </a>
        </h5>
    </div>
    <br><br><br><br><br>

    <h1>
        <b>인원 구성</b>
    </h1>
    <div style="max-width: 600px; margin-left: auto; margin-right: auto;">
        <div id="wrap-vertical">
            <div style="display: inline-block; margin-left: auto; margin-right: auto;">
                <div class="wrapper">
                    <div class="img-area">
                        <div class="inner-area">
                            <img src="~/images/icon_battle_unit_zombie.png">
                        </div>
                    </div>
                    <div class="icon arrow">
                        <i class="fas fa-arrow-left"></i>
                    </div>
                    <div class="icon dots">
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                    <div class="name">
                        <b>떡구</b>
                    </div>
                    <div class="about">Developer</div>
                    <div class="social-icons">
                        <a class="linkedin" href="https://www.linkedin.com/in/hyeonjinyoon/" target="_blank">
                            <img src="./images/linkedin.png"/>
                        </a>
                        <a class="git" href="https://github.com/hyeonjinyoon" target="_blank">
                            <img src="./images/github-icon.png">
                        </a>
                        <a class="youtube" href="https://www.youtube.com/@@deok9" target="_blank">
                            <img src="./images/youtube.png">
                        </a>
                    </div>
                </div>
            </div>
            @* <div style="display: inline-block; margin-left: 15px; margin-right: auto;"> *@
            @*     <div class="wrapper"> *@
            @*         <div class="img-area"> *@
            @*             <div class="inner-area"> *@
            @*                 <img src="~/images/icon_battle_unit_zombie.png"> *@
            @*             </div> *@
            @*         </div> *@
            @*         <div class="icon arrow"> *@
            @*             <i class="fas fa-arrow-left"></i> *@
            @*         </div> *@
            @*         <div class="icon dots"> *@
            @*             <i class="fas fa-ellipsis-v"></i> *@
            @*         </div> *@
            @*         <div class="name"> *@
            @*             <b>떡구</b> *@
            @*         </div> *@
            @*         <div class="about">Founder, Developer</div> *@
            @*         <div class="social-icons"> *@
            @*             <a class="linkedin" href="https://www.linkedin.com/in/hyeonjinyoon/" target="_blank"> *@
            @*                 <img src="./images/linkedin.png"/> *@
            @*             </a> *@
            @*             <a class="git" href="https://github.com/hyeonjinyoon" target="_blank"> *@
            @*                 <img src="./images/github-icon.png"> *@
            @*             </a> *@
            @*             <a class="youtube" href="https://www.youtube.com/@@deok9" target="_blank"> *@
            @*                 <img src="./images/youtube.png"> *@
            @*             </a> *@
            @*         </div> *@
            @*     </div> *@
            @* </div> *@
        </div>
    </div>

    <br><br><br><br>

    <h1>
        <b>문의</b>
    </h1>
    <div style="max-width: 600px; margin-left: auto; margin-right: auto;">
        <h5>contact@studiouvu.com</h5>
    </div>
    <br><br><br><br>
</div>