<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>@ViewData["Title"]</title>
    <meta property="og:title" content="@ViewData["Title"]">
    <meta property="og:image" content="~/images/og.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/Bedrock.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="icon" type="image/png" href="~/favicon.png"/>

</head>
<body style="font-family: apple; background-color:#0f0f0f;">
<font color="#d9d9d9">
    <header>
        <div>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm align-items-center" style="margin-left: auto; margin-right: auto;">
                <div class="container align-items-center" style="min-height: 26px">
                    <div class="display-on-small ">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Bedrock">
                            <img src="~/images/bedrock-icon.png" height="26">
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    @* <div class="navbar-collapse  d-sm-inline-flex justify-content-between"> *@
                    @*     <ul class="navbar-nav ms-auto"> *@
                    @*         <li class="nav-item"> *@
                    @*             <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"> *@
                    @*                 <font color="#d9d9d9"> *@
                    @*                     Login *@
                    @*                 </font> *@
                    @*             </a> *@
                    @*         </li> *@
                    @*     </ul> *@
                    @* </div> *@
                </div>
            </nav>
        </div>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <br>
    <br>
    @* <footer class="border-top footer text-muted"> *@
    @*     <div class="container"> *@
    @*         <p class="alignleft"> *@
    @*             <a asp-area="" asp-controller="Home" asp-action="Index"> *@
    @*                 <img src="~/images/studiouvu5.png" height="35"> *@
    @*             </a> *@
    @*         </p> *@
    @*         <p class="alignright">ASP.NET으로 개발됨</p> *@
    @*     </div> *@
    @* </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</font>
</body>
</html>